.card_container{
    min-height: 50px;
    background-color: #167ee6;
    color: #fff;
    border-radius: 5px;
    padding: 10px ;
    font-size: 14px;
    

    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_text{
    margin: 0;
}