.card_container{
    min-height: 50px;
    background-color: #ffffffc9;
    color: #000000;
    border-radius: 5px;
    padding: 10px ;
    font-weight: bold;

    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_text{
    margin: 0;
}