.app_container{
    background-color: #712AE4;
    min-height: 100vh;
    color: #ffffff;
}
.middler_container{
    max-width: 500px;
}
.header_container{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.task_list{
    margin-top: 15px;
    padding: 15px;
    height: 85vh;
    background-color: #6025be;
    border-radius: 10px;
}

.modal_note{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #33333365;
}
.modal_content{
    margin: 30px auto;
    width: 90%;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
}
.close_modal{
    font-size: 28px;
    float: right;
}
.text_area_modal{
    width: 100%;
    height: 70vh;
    padding: 10px;
    background-color: rgb(222, 202, 255);
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.button_save{
    width: 100%;
}